{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<body class="prestige--v4 features--heading-normal features--heading-uppercase  template-page" data-instant-intensity="viewport" data-instant-allow-query-string="" sr-scroll-left="0" sr-scroll-top="508"><div></div>
    <div class="PageContainer">
          <div id="shopify-section-announcement" class="shopify-section"></div>
          
    
          <main id="main" role="main">
            <div class="Container">
      <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1">О YŌNOBI</h1>
        </div>
      </header>
    
      <div class="PageContent Rte">
       <br>Вдохновлен японским словом YOnoBI (用美), что означает красоту в практичных предметах, изготовленных мастерами. Yo-no-bi состоит из двух кандзи: yo (用), что означает использование, и bi (美), что означает красоту. Вместе они направлены на то, чтобы сбалансировать эстетическое и функциональное. <br><br>За каждым произведением стоит история. История, которая отражает идеи художника, его вдохновение, эстетику и техники. Различные истории - это сердце каждого произведения и то, что делает их особенными. Таким образом, когда вы делаете свое произведение в YONOBI - у вас есть нечто поистине уникальное. <br><br>Мы надеемся, что изделия, которые вы изготовите здесь, в Yonobi, доставят вам такую же радость и волнение, как и нам.
      
       <ul><br><br>
        <li>
        <p>Позвоните нам по&nbsp;<a href="tel:+ 996 (500) 11 52 80" title="+ 996 (500) 11 52 80">+ 996 (500) 11 52 80</a></p>
        </li>
        <li>
        <p>Напишите нам&nbsp;&nbsp;<a href="mailto:hello@itsyonobi.com" target="_blank" rel="noopener noreferrer">hello@itsyonobi.com</a></p>
        </li>
        
        </ul>
      </div>
    </div>
    
          </main>                
        </div>   
    </body>
{% endblock %}