{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<main id="main" role="main">
    <div class="Container Container--narrow">
<header class="PageHeader">


<div class="SectionHeader">
  <h1 class="SectionHeader__Heading Heading u-h1">
    <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="My account" data-translation="Мой аккаунт" data-ch="0" data-type="trSpan" data-selected="false">Мой аккаунт</ya-tr-span></h1>
  <p class="SectionHeader__Description">
    <ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan" data-selected="false">C Возвращением, {{ request.user.first_name }}!</ya-tr-span></p>
</div>
</header><br>

<div class="PageLayout PageLayout--breakLap"><div class="PageLayout__Section"><div class="Segment">
      <h2 class="Segment__Title Heading u-h7"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="My orders" data-translation="Мои заказы" data-ch="0" data-type="trSpan" data-selected="false">Мои курсы</ya-tr-span></h2>





      
      {% if orders %}
           
        {% for order in orders %}
            <div class="CartItem">
                <div class="CartItem__ImageWrapper AspectRatio">
                <div class="AspectRatio" style="--aspect-ratio: 1.0">
                    <img class="CartItem__Image" src="{{ order.course.photo.url }}">
                </div>
                </div>
            
                <div class="CartItem__Info">
                <h2 class="CartItem__Title Heading">
                    <a href="{% url 'pottery_class' order.course.id %}">{{ order.course }}</a>
                </h2>
            
                <div class="CartItem__Meta Heading Text--subdued">
                    <p class="CartItem__Variant">{{ order.course.date_start }}</p>
                    <ul class="CartItem__PropertyList"></ul>
                    <div class="CartItem__PriceList"></div>
                </div>
                </div>

                <div class="CartItem__Info">
                    <h2 class="CartItem__Title Heading">
                        <span>Количество человек:</span>
                    </h2>
                    <div class="CartItem__Meta Heading Text--subdued">
                        <p class="CartItem__Variant">{{ order.people }}</p>
                        <ul class="CartItem__PropertyList"></ul>
                        <div class="CartItem__PriceList"></div>
                    </div>
                </div>

                <div class="CartItem__Info">
                    <h2 class="CartItem__Title Heading">
                        <span>Итоговая стоимость:</span>
                    </h2>
                    <div class="CartItem__Meta Heading Text--subdued">
                        <p class="CartItem__Variant">{{ order.get_total }} сом</p>
                        <ul class="CartItem__PropertyList"></ul>
                        <div class="CartItem__PriceList"></div>
                    </div>
                </div>

                
            </div>
          
        {% endfor %}

      {% else %}
      <div class="Segment__Content">
        <p>
            <ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="You haven't placed any orders yet" data-translation="Вы еще не разместили никаких заказов" data-ch="0" data-type="trSpan" data-selected="false">Вы еще не разместили никаких заказов</ya-tr-span>
        </p>
      </div>
      {% endif %}


    </div></div>
</div>
</div><br><br><br>
  </main>

{% endblock content %}