{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<main id="main" role="main">
    <section></section>
    <section data-section-id="login" data-section-type="login">
<div class="Container">
<div class="PageContent PageContent--fitScreen PageContent--extraNarrow"><form method="post" action="/account/recover" accept-charset="UTF-8" onsubmit="window.Shopify.recaptchaV3.addToken(this, &quot;recover_customer_password&quot;); return false;"><input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓"></form><form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8" data-login-with-shop-sign-in="true" name="login" class="Form Form--spacingTight" style="display: block" data-gtm-form-interact-id="0" onsubmit="window.Shopify.recaptchaV3.addToken(this, &quot;customer_login&quot;); return false;"><input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓"><header class="Form__Header">
      <h1 class="Form__Title Heading u-h1">Вход</h1>
      <p class="Form__Legend">Введите свой e-mail и пароль:</p>
    </header><div class="Form__Item">
      <input type="email" class="Form__Input" name="customer[email]" required="required" placeholder="Email" aria-label="Email" autofocus="" data-gtm-form-interact-field-id="0" sr-value="">
      <label class="Form__FloatingLabel">Email</label>
    </div>

    <div class="Form__Item">
      <input type="password" class="Form__Input" name="customer[password]" required="required" placeholder="Пароль" aria-label="Password" data-gtm-form-interact-field-id="1">
      <label class="Form__FloatingLabel">Пароль</label>
    </div>

    <button type="submit" class="Form__Submit Button Button--primary Button--full">Login</button>

    <div class="Form__Hint Form__Hint--center">
      <span class="Text--subdued">Нет аккаунта?</span>
      <a href="/account/register" class="Link Link--secondary">Создать</a>
    </div>
    </div>

    
    </div></form></div>
</div>
</section>
  </main>

  <div id="shopify-section-1648717021426333c3" class="shopify-section shopify-section--bordered"><section class="Section Section--spacingNormal" data-section-id="1648717021426333c3" data-section-type="featured-collections" data-settings="{
    &quot;layout&quot;: &quot;carousel&quot;
    }">
    </section></div>

{% endblock content %}