{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<main id="main" role="main">
    <div id="shopify-section-cart-template" class="shopify-section shopify-section--bordered"><section data-section-id="cart-template" data-section-type="cart" data-section-settings="{
&quot;type&quot;: &quot;drawer&quot;,
&quot;itemCount&quot;: 1,
&quot;drawer&quot;: false,
&quot;hasShippingEstimator&quot;: true
}"><div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1"><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Cart" data-translation="Корзина" data-ch="0" data-type="trSpan">Корзина</ya-tr-span></h1></div>
  </header>

  <div class="PageContent">
    <form action="/cart" method="POST" class="Cart Cart--expanded" novalidate="">
      <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
      <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

      <div class="Cart__ItemList"><div class="Cart__Head hidden-phone">
  <span class="Cart__HeadItem Heading Text--subdued u-h7"><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Product" data-translation="Общее" data-ch="0" data-type="trSpan" data-selected="false">Общее</ya-tr-span></span>
  <span class="Cart__HeadItem"></span>
  
  <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: right"><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Total" data-translation="Стоимость" data-ch="0" data-type="trSpan" data-selected="false">товаров</ya-tr-span></span>
</div><div class="CartItem">
  <div class="CartItem__ImageWrapper AspectRatio">
    <div class="AspectRatio" style="--aspect-ratio: 1.0">
      <img class="CartItem__Image" src="//yonobi.com/cdn/shop/products/8e7b2aeb-3c0f-4243-9cf9-05f2253688e3-mGL_tWhQ_1200x_20_281_29_9856a2e0-5e4a-4053-9d2e-d956d0bac408_240x.jpg?v=1688024407" alt="ВЕЧЕРНИЙ УРОК МЕТАНИЯ КОЛЕСА, урок гончарного дела, занятия в YONOBI ">
    </div>
  </div>

  <div class="CartItem__Info">
    <h2 class="CartItem__Title Heading">
      <a href="/products/evening-wheel-throwing-class-1?variant=46905658474822"><ya-tr-span data-index="14-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="EVENING WHEEL THROWING CLASS" data-translation="ВЕЧЕРНИЙ УРОК МЕТАНИЯ КОЛЕСА" data-ch="0" data-type="trSpan" data-selected="false">ВЕЧЕРНИЙ УРОК МЕТАНИЯ КОЛЕСА</ya-tr-span></a>
    </h2>

    <div class="CartItem__Meta Heading Text--subdued"><div class="CartItem__PriceList"><span class="CartItem__Price Price"><ya-tr-span data-index="16-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="лв37,900" data-translation="лв37,900" data-ch="0" data-type="trSpan">лв37,900</ya-tr-span></span></div></div><div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
        <div class="CartItem__QuantitySelector">
          <div class="QuantitySelector"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 0" href="/cart/change?quantity=0&amp;line=1" data-quantity="0" data-line="1" data-action="update-item-quantity" data-no-instant=""><svg class="Icon Icon--minus" role="presentation" viewBox="0 0 16 2">
  <path d="M1,1 L15,1" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
</svg></a>

            <input type="text" name="updates[]" id="updates_46905658474822:75a2b11968fa80c3a79be6e618a59798" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line="1" value="1"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 2" href="/cart/change?quantity=2&amp;line=1" data-quantity="2" data-line="1" data-action="update-item-quantity" data-no-instant=""><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
  <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
    <path d="M8,1 L8,15"></path>
    <path d="M1,8 L15,8"></path>
  </g>
</svg></a>
          </div>
        </div>

        <a href="/cart/change?quantity=0&amp;line=1" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line="1" data-action="remove-item" data-no-instant="">Remove</a>
      </div>
  </div>

    <div class="CartItem__LinePriceList Heading Text--subdued" style="text-align: right"><span class="CartItem__Price Price">лв37,900</span></div></div></div>

      <footer class="Cart__Footer"><div class="Cart__Recap"><p class="Cart__Total Heading u-h6"><ya-tr-span data-index="18-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Total: " data-translation="Всего: " data-ch="0" data-type="trSpan" data-selected="false">Всего: </ya-tr-span><span><ya-tr-span data-index="18-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="лв37,900" data-translation="37 900 йен" data-ch="0" data-type="trSpan" data-selected="false">37 900 йен</ya-tr-span></span></p><button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full"><ya-tr-span data-index="20-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Checkout" data-translation="Оформить покупку" data-ch="0" data-type="trSpan">Оформить покупку</ya-tr-span></button>
        </div>
      </footer>
    </form></div>
</div></section>

</div>
<div id="shopify-section-recently-viewed-products" class="shopify-section shopify-section--bordered shopify-section--hidden"></div>
  <br><br>
</main>

{% endblock content %}