{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<head>
  <title>{{course.title}} | YONOBI</title>
</head>

      <main id="main" role="main">
        <div id="shopify-section-product-template" class="shopify-section shopify-section--bordered"><section class="Product Product--medium" data-section-id="product-template" data-section-type="product" data-section-settings="{
  &quot;enableHistoryState&quot;: true,
  &quot;templateSuffix&quot;: null,
  &quot;showInventoryQuantity&quot;: true,
  &quot;showSku&quot;: false,
  &quot;stackProductImages&quot;: false,
  &quot;showThumbnails&quot;: false,
  &quot;enableVideoLooping&quot;: true,
  &quot;inventoryQuantityThreshold&quot;: 10,
  &quot;showPriceInButton&quot;: true,
  &quot;enableImageZoom&quot;: true,
  &quot;showPaymentButton&quot;: false,
  &quot;useAjaxCart&quot;: true
}">
  <div class="Product__Wrapper" style="min-height: 942px;"><div class="Product__Gallery  Product__Gallery--withDots">
        <span id="ProductGallery" class="Anchor"></span><div class="Product__ActionList hidden-lap-and-up ">
            <div class="Product__ActionItem hidden-lap-and-up">
          <button class="RoundButton RoundButton--small RoundButton--flat" data-action="open-product-zoom"><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
      <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M8,1 L8,15"></path>
        <path d="M1,8 L15,8"></path>
      </g>
    </svg></button>
        </div><div class="Product__ActionItem hidden-lap-and-up">
          <button class="RoundButton RoundButton--small RoundButton--flat" data-action="toggle-social-share" data-animate-bottom="" aria-expanded="false">
            <span class="RoundButton__PrimaryState"><svg class="Icon Icon--share" role="presentation" viewBox="0 0 24 24">
      <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-width="1.5">
        <path d="M8.6,10.2 L15.4,6.8"></path>
        <path d="M8.6,13.7 L15.4,17.1"></path>
        <circle stroke-linecap="square" cx="5" cy="12" r="4"></circle>
        <circle stroke-linecap="square" cx="19" cy="5" r="4"></circle>
        <circle stroke-linecap="square" cx="19" cy="19" r="4"></circle>
      </g>
    </svg></span>
            <span class="RoundButton__SecondaryState"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
      <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
    </svg></span>
          </button><div class="Product__ShareList" aria-hidden="true">
            <a class="Product__ShareItem" href="https://www.facebook.com/sharer.php?u=https://yonobi.com/products/one-day-pottery-wheel-class" target="_blank" rel="noopener"><svg class="Icon Icon--facebook" viewBox="0 0 9 17">
      <path d="M5.842 17V9.246h2.653l.398-3.023h-3.05v-1.93c0-.874.246-1.47 1.526-1.47H9V.118C8.718.082 7.75 0 6.623 0 4.27 0 2.66 1.408 2.66 3.994v2.23H0v3.022h2.66V17h3.182z"></path>
    </svg>Facebook</a>
            <a class="Product__ShareItem" href="https://pinterest.com/pin/create/button/?url=https://yonobi.com/products/one-day-pottery-wheel-class&amp;media=https://yonobi.com/cdn/shop/products/86a50626-da25-40f0-86ce-305b70756de5-76fafcca-73c0-4559-b67c-ee6c54d16ea8-anne-nygard-G4IB-r6nsJI-unsplash_20_281_29_1024x.jpg?v=1688024419&amp;description=Join%20our%20new%20class%20this%20summer%20-%20when%20we%20open%20the%20studio%20for%20our%20new..." target="_blank" rel="noopener"><svg class="Icon Icon--pinterest" role="presentation" viewBox="0 0 32 32">
      <path d="M16 0q3.25 0 6.208 1.271t5.104 3.417 3.417 5.104T32 16q0 4.333-2.146 8.021t-5.833 5.833T16 32q-2.375 0-4.542-.625 1.208-1.958 1.625-3.458l1.125-4.375q.417.792 1.542 1.396t2.375.604q2.5 0 4.479-1.438t3.063-3.937 1.083-5.625q0-3.708-2.854-6.437t-7.271-2.729q-2.708 0-4.958.917T8.042 8.689t-2.104 3.208-.729 3.479q0 2.167.812 3.792t2.438 2.292q.292.125.5.021t.292-.396q.292-1.042.333-1.292.167-.458-.208-.875-1.083-1.208-1.083-3.125 0-3.167 2.188-5.437t5.729-2.271q3.125 0 4.875 1.708t1.75 4.458q0 2.292-.625 4.229t-1.792 3.104-2.667 1.167q-1.25 0-2.042-.917t-.5-2.167q.167-.583.438-1.5t.458-1.563.354-1.396.167-1.25q0-1.042-.542-1.708t-1.583-.667q-1.292 0-2.167 1.188t-.875 2.979q0 .667.104 1.292t.229.917l.125.292q-1.708 7.417-2.083 8.708-.333 1.583-.25 3.708-4.292-1.917-6.938-5.875T0 16Q0 9.375 4.687 4.688T15.999.001z"></path>
    </svg>Pinterest</a>
            <a class="Product__ShareItem" href="https://twitter.com/share?text=One-day pottery wheel class (5 hours)&amp;url=https://yonobi.com/products/one-day-pottery-wheel-class" target="_blank" rel="noopener"><svg class="Icon Icon--twitter" role="presentation" viewBox="0 0 32 26">
      <path d="M32 3.077c-1.1748.525-2.4433.8748-3.768 1.031 1.356-.8123 2.3932-2.0995 2.887-3.6305-1.2686.7498-2.6746 1.2997-4.168 1.5934C25.751.796 24.045.0025 22.158.0025c-3.6242 0-6.561 2.937-6.561 6.5612 0 .5124.0562 1.0123.1686 1.4935C10.3104 7.7822 5.474 5.1702 2.237 1.196c-.5624.9687-.8873 2.0997-.8873 3.2994 0 2.2746 1.156 4.2867 2.9182 5.4615-1.075-.0314-2.0872-.3313-2.9745-.8187v.0812c0 3.1806 2.262 5.8363 5.2677 6.4362-.55.15-1.131.2312-1.731.2312-.4248 0-.831-.0438-1.2372-.1188.8374 2.6057 3.262 4.5054 6.13 4.5616-2.2495 1.7622-5.074 2.812-8.1546 2.812-.531 0-1.0498-.0313-1.5684-.0938 2.912 1.8684 6.3613 2.9494 10.0668 2.9494 12.0726 0 18.6776-10.0043 18.6776-18.6776 0-.2874-.0063-.5686-.0188-.8498C30.0066 5.5514 31.119 4.3954 32 3.077z"></path>
    </svg>Twitter</a>
          </div>
        </div>
          </div><div class="Product__Slideshow Product__Slideshow--zoomable Carousel flickity-enabled" data-flickity-config="{
          &quot;prevNextButtons&quot;: false,
          &quot;pageDots&quot;: false,
          &quot;adaptiveHeight&quot;: true,
          &quot;watchCSS&quot;: true,
          &quot;dragThreshold&quot;: 8,
          &quot;initialIndex&quot;: 0,
          &quot;arrowShape&quot;: {&quot;x0&quot;: 20, &quot;x1&quot;: 60, &quot;y1&quot;: 40, &quot;x2&quot;: 60, &quot;y2&quot;: 35, &quot;x3&quot;: 25}
        }" tabindex="0">
          
        <div class="flickity-viewport" style="height: 550px;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div id="Media43906820538694" tabindex="0" class="Product__SlideItem Product__SlideItem--image Carousel__Cell is-selected" data-media-type="image" data-media-id="43906820538694" data-media-position="1" data-image-media-position="0" style="position: absolute; left: 0%;">
              <div class="AspectRatio AspectRatio--withFallback" style="padding-bottom: 100.0%; --aspect-ratio: 1.0;">
                

                <img class="Image--fadeIn lazyautosizes Image--lazyLoaded" data-widths="[200,400,600,700,800,900,1000,1200,1400,1600]" data-sizes="auto" data-expand="-100" data-max-width="3339" data-max-height="3339" sizes="550px" img src="{{course.photo.url}}">
                <span class="Image__Loader"></span>

                <noscript>
                  <img src="{{course.photo.url}}">
                </noscript>
              </div>
            </div></div></div></div></div><div class="Product__InfoWrapper">
      <div class="Product__Info " style="top: -391px;">
        <div class="Container"><div class="ProductMeta"><h2 class="ProductMeta__Vendor Heading u-h6"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="YONOBI classes" data-ch="0" data-type="trSpan">Занятия в YONOBI</ya-tr-span></h2><h1 class="ProductMeta__Title Heading u-h2"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"  data-ch="0" data-type="trSpan">{{course.title}}</ya-tr-span></h1>
            <div class="ProductMeta__PriceList Heading"><span class="ProductMeta__Price Price Text--subdued u-h4"><ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="лв10,400" data-translation="лв10,400" data-ch="0" data-type="trSpan">{{course.price}} сом</ya-tr-span></span></div>

    <div class="ProductMeta__UnitPriceMeasurement" style="display:none">
      <div class="UnitPriceMeasurement Heading u-h6 Text--subdued">
        <span class="UnitPriceMeasurement__Price"></span>
        <span class="UnitPriceMeasurement__Separator">/ </span><span class="UnitPriceMeasurement__ReferenceValue"></span><span class="UnitPriceMeasurement__ReferenceUnit"></span>
      </div>
    </div></div>
    <br>



  <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">


{% if user.is_authenticated %}
  <a href="{% url 'order' course.slug %}"
  class="ptwAddToCart ProductForm__AddToCart Button Button--primary Button--full" style="display: block;">
  <span>
    <ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" 
    data-target-lang="ru" data-translation="Добавить в корзину" data-ch="0" data-type="trSpan" 
    data-selected="false">Записаться</ya-tr-span>
  </span></a>
{% else %}
  <a href="{% url 'register' %}"
  class="ptwAddToCart ProductForm__AddToCart Button Button--primary Button--full" style="display: block;">
  <span>
    <ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" 
    data-target-lang="ru" data-translation="Записаться" data-ch="0" data-type="trSpan" 
    data-selected="false">Записаться</ya-tr-span>
  </span></a>
{% endif %}

</div></form>

</script><div class="ProductMeta__Description">
              <div class="Rte"><meta charset="utf-8">

<ul>
<li>
<strong><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Location " data-translation="Местонахождение " data-ch="0" data-type="trSpan">Местонахождение </ya-tr-span></strong><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="YŌNOBI STUDIO, Nybrogade 28 " data-translation="YŌNOBI STUDIO, Ниброгаде 28 " data-ch="0" data-type="trSpan">YŌNOBI STUDIO, Асанбай 4 </ya-tr-span></li>
<li>
<strong><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Time " data-translation="Время " data-ch="0" data-type="trSpan">Старт курса </ya-tr-span></strong><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="10.00 to 15.00" data-translation="с 10.00 до 15.00" data-ch="0" data-type="trSpan">{{course.date_start}}</ya-tr-span></li>
<li>
<strong><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Length " data-translation="Продолжительность " data-ch="0" data-type="trSpan">Продолжительность </ya-tr-span></strong><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru"  data-ch="0" data-type="trSpan">каждого занятия {{course.time}} часов</ya-tr-span></li>

<li>
<strong><ya-tr-span data-index="15-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Level" data-translation="Уровень" data-ch="0" data-type="trSpan">Уровень </ya-tr-span></strong><ya-tr-span data-index="15-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Beginner"data-ch="0" data-type="trSpan">{{course.level}}</ya-tr-span></li>
<li>
<strong><ya-tr-span data-index="15-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Level" data-ch="0" data-type="trSpan">Преподаватель </ya-tr-span></strong><ya-tr-span data-index="15-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Beginner"data-ch="0" data-type="trSpan">{{course.teacher}}</ya-tr-span></li>

</ul>
<p><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Join our new class this summer - when we open the studio for our new one-day pottery wheel-throwing class!" data-ch="0" data-type="trSpan">{{course.content}}</ya-tr-span></p>

              </div></div></div>
      </div>
    </div></div>                
                  </section>
      </main>

{% endblock content %}